node_modules
dist
coverage
.git
.env
.env.*
*.md
Dockerfile*
.dockerignore
.eslintrc*
eslint.config.*
.prettierrc*
jest.config*
test
**/*.spec.ts
prisma.config.js
prisma.config.js.map
prisma.config.d.ts
prisma.config.d.ts.map
src/generated
